.container {
    padding: 128px;
    border: $border;
    border-radius: 0 0 30px 30px;
    ul {
        li {
            list-style: none;
        }
    }
    form {
        input {
            padding: 12px;
            border-radius: 12px;
            border: $border;
            margin-top: 12px;
        }
    }
}

.dashboard {
    display: flex;
    border: $border;
    border-radius: 30px;
    padding: 24px;
    justify-content: space-between;
    .form {
        border: $border;
        padding: 12px;
        height: fit-content;
        margin-right: 12px;
        border-radius: 18px;
        background: whitesmoke;
        .input {
            padding-bottom: 12px;
            input {
                border: $border;
                padding: 12px;
                width: 256px;
                border-radius: 12px;
            }
        }
        button {
            padding: 12px;
            border-radius: 100px;
            border: $border;
            background-color: black;
            color: white;
        }
    }
    .list-dashboard {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        width: 70%;
        border: $border;
        padding: 12px;
        border-radius: 18px;
        background-color: whitesmoke;
        .list-content {
            width: 198px;
            height: fit-content;
            padding: 12px;
            border-radius: 18px;
            margin-right: 6px;
            margin-bottom: 12px;
            img {
                width: 100%;
            }
        }
    }
}