.hero {
    padding: 96px 24px 24px 24px;
    border: $border;
    border-radius: 0 0 30px 30px;
    .center {
        padding-top: 16px;
    }
    .bottom {
        padding-top: 24px;
        a {
            padding: 12px;
            border: $border;
            text-decoration: none;
            color: $tertiary-color;
            border-radius: 100px;
        }
    }
}