<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='/favicon/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>E-Commerce Penjualan Makanan Untuk UMKM Lokal</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Beranda</a></li> /
            <li><a href="#footer">Scroll to Bottom</a></li>
        </ul>
      </nav>
    <div class="hero">
        <div class="t64 top">Hai, mau makan apa hari ini?</div>
        <div class="t16 center">Kami adalah komunitas dinamis yang menghadirkan kumpulan cerita dan pandangan unik dari seluruh penjuru dunia. Di YooBlog, kami menyajikan berbagai artikel berkualitas tinggi yang mencakup kehidupan sehari-hari, inspirasi, pengetahuan, dan hiburan.</div>
        <div class="bottom"><a href="/signup">Posting Makanan</a></div>
    </div>
    <div class="hello">
        <div class="hello-scroll" id="scrollContent">
            <div class="hello-content">
                <div class="s16">Hello</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hola</div>
            </div>
            <div class="hello-content">
                <div class="s16">Bonjour</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hallo</div>
            </div>
            <div class="hello-content">
                <div class="s16">Ciau</div>
            </div>
            <div class="hello-content">
                <div class="s16">Olà</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hej</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hello</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hola</div>
            </div>
            <div class="hello-content">
                <div class="s16">Bonjour</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hallo</div>
            </div>
            <div class="hello-content">
                <div class="s16">Ciau</div>
            </div>
            <div class="hello-content">
                <div class="s16">Olà</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hej</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hello</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hola</div>
            </div>
            <div class="hello-content">
                <div class="s16">Bonjour</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hallo</div>
            </div>
            <div class="hello-content">
                <div class="s16">Ciau</div>
            </div>
            <div class="hello-content">
                <div class="s16">Olà</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hej</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hello</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hola</div>
            </div>
            <div class="hello-content">
                <div class="s16">Bonjour</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hallo</div>
            </div>
            <div class="hello-content">
                <div class="s16">Ciau</div>
            </div>
            <div class="hello-content">
                <div class="s16">Olà</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hej</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hello</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hola</div>
            </div>
            <div class="hello-content">
                <div class="s16">Bonjour</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hallo</div>
            </div>
            <div class="hello-content">
                <div class="s16">Ciau</div>
            </div>
            <div class="hello-content">
                <div class="s16">Olà</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hej</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hello</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hola</div>
            </div>
            <div class="hello-content">
                <div class="s16">Bonjour</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hallo</div>
            </div>
            <div class="hello-content">
                <div class="s16">Ciau</div>
            </div>
            <div class="hello-content">
                <div class="s16">Olà</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hej</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hello</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hola</div>
            </div>
            <div class="hello-content">
                <div class="s16">Bonjour</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hallo</div>
            </div>
            <div class="hello-content">
                <div class="s16">Ciau</div>
            </div>
            <div class="hello-content">
                <div class="s16">Olà</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hej</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hello</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hola</div>
            </div>
            <div class="hello-content">
                <div class="s16">Bonjour</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hallo</div>
            </div>
            <div class="hello-content">
                <div class="s16">Ciau</div>
            </div>
            <div class="hello-content">
                <div class="s16">Olà</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hej</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hello</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hola</div>
            </div>
            <div class="hello-content">
                <div class="s16">Bonjour</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hallo</div>
            </div>
            <div class="hello-content">
                <div class="s16">Ciau</div>
            </div>
            <div class="hello-content">
                <div class="s16">Olà</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hej</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hello</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hola</div>
            </div>
            <div class="hello-content">
                <div class="s16">Bonjour</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hallo</div>
            </div>
            <div class="hello-content">
                <div class="s16">Ciau</div>
            </div>
            <div class="hello-content">
                <div class="s16">Olà</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hej</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hello</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hola</div>
            </div>
            <div class="hello-content">
                <div class="s16">Bonjour</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hallo</div>
            </div>
            <div class="hello-content">
                <div class="s16">Ciau</div>
            </div>
            <div class="hello-content">
                <div class="s16">Olà</div>
            </div>
            <div class="hello-content">
                <div class="s16">Hej</div>
            </div>
        </div>
    </div>
    <div class="head">
        <div class="t24">
            Postingan Terbaru
        </div>
    </div>
    <div class="list">
        {% for post in posts %}
        <div class="list-content">
            <img src="/src/01.jpg" alt="">
            <p class="t24">{{ post[1] }}</p><br><hr><br>
            <p>{{ post[2] }}</p><br><hr><br>
            <p>Rp. {{ post[3] }}</p><br><hr><br>
            <img src="{{ post[5] }}" alt="image"><br><hr><br>
            <a href="{{ post[4] }}">Pesan Sekarang</a><br><br><hr><br>
            <p>Diposting pada: <br> {{ post[6] }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="service">
        <div class="service-content">
            <div class="service-content-left">
                <div class="t24">Pemasaran Online yang Luas</div><br>
                <div class="t16">Dengan memiliki website penjualan makanan untuk UMKM lokal, bisnis Anda dapat menjangkau pelanggan potensial tidak hanya di daerah sekitar, tetapi juga secara regional atau bahkan nasional. Pemasaran online memberikan akses yang lebih luas, memungkinkan UMKM lokal untuk mendapatkan perhatian dari pelanggan yang mungkin tidak dapat mencapai toko fisik mereka.</div>
            </div>
            <div class="service-content-right">
                <div class="t24">Kemudahan dan Kenyamanan Pelanggan</div><br>
                <div class="t16">Website penjualan makanan memberikan kemudahan dan kenyamanan kepada pelanggan. Mereka dapat dengan mudah menjelajahi menu, melakukan pemesanan, dan membayar secara online tanpa harus datang langsung ke tempat fisik. Ini memberikan pengalaman berbelanja yang lebih praktis, terutama bagi mereka yang sibuk atau memilih untuk tetap di rumah.</div>
            </div>
        </div>
        <div class="service-content">
            <div class="service-content-left">
                <div class="t24">Peluang untuk Memperluas Jangkauan Pasar</div><br>
                <div class="t16">Website penjualan makanan memungkinkan UMKM lokal untuk memperluas jangkauan pasar mereka tanpa harus membuka cabang fisik tambahan. Hal ini dapat membantu meningkatkan visibilitas merek dan mendapatkan pelanggan baru dari berbagai lokasi. Pelanggan yang tertarik dengan produk Anda dapat dengan mudah menemukan dan memesan melalui situs web.</div>
            </div>
            <div class="service-content-right">
                <div class="t24">Manajemen Inventaris dan Analisis Penjualan</div><br>
                <div class="t16">Dengan adanya website penjualan, UMKM lokal dapat dengan lebih efisien mengelola inventaris mereka. Sistem manajemen penjualan dapat memberikan informasi tentang stok produk, memungkinkan pemilik bisnis untuk mengelola persediaan dengan lebih baik. Selain itu, data penjualan yang terkumpul dari aktivitas online dapat memberikan wawasan berharga untuk merencanakan strategi pemasaran dan pengembangan produk lebih lanjut.</div>
            </div>
        </div>
    </div>
    <div class="accordion">
        <div class="accordion-content">
            <div class="accordion-content-question">
                <div class="t32">Apa Produk atau Layanan yang Ditawarkan oleh Website Ini?</div>
                <div class="icon">v</div>
            </div>
            <div class="accordion-content-answer">
                <div class="t16">Pertanyaan ini membantu pengunjung situs web untuk dengan cepat memahami fokus dan tujuan dari website tersebut. Deskripsi yang jelas mengenai produk atau layanan yang ditawarkan akan membantu calon pelanggan atau pengunjung untuk menentukan apakah website tersebut menyediakan apa yang mereka cari.</div>
            </div>
        </div>
        <div class="accordion-content">
            <div class="accordion-content-question">
                <div class="t32">Bagaimana Saya Dapat Menghubungi atau Berinteraksi dengan Bisnis Ini?</div>
                <div class="icon">v</div>
            </div>
            <div class="accordion-content-answer">
                <div class="t16">Penting bagi pengunjung untuk dapat dengan mudah menghubungi atau berinteraksi dengan bisnis yang terkait dengan situs web. Informasi kontak yang jelas seperti alamat email, nomor telepon, atau formulir kontak dapat memberikan kepercayaan kepada pengunjung bahwa mereka dapat dengan mudah berkomunikasi jika mereka memiliki pertanyaan, kekhawatiran, atau ingin melakukan transaksi.</div>
            </div>
        </div>
        <div class="accordion-content">
            <div class="accordion-content-question">
                <div class="t32">Apa Manfaat atau Keunggulan yang Ditawarkan oleh Produk atau Layanan Ini?</div>
                <div class="icon">v</div>
            </div>
            <div class="accordion-content-answer">
                <div class="t16">Pengunjung cenderung mencari nilai tambah atau manfaat khusus saat mengunjungi suatu situs web. Pertanyaan ini membantu mengkomunikasikan nilai tambah atau keunggulan yang membuat produk atau layanan unik atau lebih baik daripada pesaing. Menyajikan informasi ini dengan jelas dapat membantu memotivasi pengunjung untuk menjelajahi lebih lanjut atau bahkan melakukan pembelian.</div>
            </div>
        </div>
    </div>
    <div class="footer" id="footer">
        <div class="footer-content">
            <div class="t16">copyright@yooblog 2024</div>
        </div>
    </div>
    <script>
        const accordionContent = document.querySelectorAll(".accordion-content");
        accordionContent.forEach(accordionContent => {
            accordionContent.addEventListener("click", () => {
                accordionContent.classList.toggle("active");
            })
        })
    </script>
</body>
</html>