<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='/favicon/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Aplikasi Blog Sederhana</title>
</head>
<body style="margin-top: 72px;">
    <nav>
        <ul>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="dashboard">
        <form class="form" method="post" action="{{ url_for('create') }}">
            <div class="input">
                <label for="nama">Nama Produk</label><br>
                <input type="text" name="nama">
            </div>
    
            <div class="input">
                <label for="ket">Deskripsi Produk</label><br>
                <input type="text" name="ket">
            </div>
    
            <div class="input">
                <label for="harga">Harga Produk</label><br>
                <input type="text" name="harga">
            </div>
    
            <div class="input">
                <label for="link">Link Produk</label><br>
                <input type="text" name="link">
            </div>

            <div class="input">
                <label for="link_image">Link Gambar</label><br>
                <input type="text" name="link_image">
            </div>
    
            <button type="submit">Tambahkan Produk</button>
        </form>
        <div class="list-dashboard">
            {% for post in posts %}
            <div class="list-content">
                <p class="t32">{{ post[1] }}</p><hr>
                <p>{{ post[2] }}</p><hr>
                <p> Rp. {{ post[3] }}</p><hr>
                <a href="{{ post[4] }}">Pesan Sekarang</a><hr>
                <img src="{{ post[5] }}" alt="image"><hr>
                <p>{{ post[6] }}</p><hr>
                <a href="/update/{{ post[0] }}">Update</a>
                <a href="/delete/{{ post[0] }}">Delete</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>